/* Обнуление стилей */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
}
li {
	list-style: none;
}a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
/* Конец обнуления */

/* Стили для текущей верстки */
ol {
	list-style: none;
	counter-reset: li;
}
ol li::before {
	counter-increment: li;
	content: counters(li, ".") ". ";
}
#small{
	font-size: 10px;
	vertical-align: super;
}
img {
	vertical-align: top;
	float: left;
}
/* Конец стилей для текущей верстки */

/* Тренировка по записям селекторов
и их приоритетов */

/* Пример №1 */
/* .stilltext {
	color: blue;
}
.text {
	color: red;
} */
/* Когда уровень у селекторов одинаковый, приоритетней будет запись находящаяся ниже */

/* Пример №2 */
/* #ppage1 {
	color: aqua;
}
.stilltext {
	color: blue;
}

.text {
	color: red;
} */
/* Селектор ID самый приоритетный */

/* Пример №3 */
/* p.text {
	color: red;
}
.text {
	color: green;
}
p {
	color: aqua;
} */
/* Первая запись приоритетней т.к. идет более гоубокое уточнение т.е. есть и тег и класс */
/* Или же... */
/* span.text1.text2 {
	color: green;
}
.text1 {
	color: blue;
}
span.text1 {
	color: red;
} */
/* Первая запись приоритетней т.к. идет более гоубокое уточнение*/

/* Пример №4 */
/* div p {
	color: red;
}
.content .contentitem {
	color: blue;
}
.contentitem {
	color: green;
} */
/* Когда хотим обратиться к вложенным элементам обязательно ставим пробел
Причем если есть вложеность и при этом убрать пробел свойство перестанет работать.
Средняя запись будет приоритетней */

/* Инлайновый стиль будет имет самый большой приоритет */

/* * {
	color: blueviolet;
}
.block * {
	color: green;
} */

/* Обращаемся ко всем объектам.
Можно обратиться ко всем элементам с определенным классом */

/* .block p,
.block span {
	color: green;
} */
/* Можно обратьтся к нескольким тегам через запятую */

/* .block .text,
.block .content {
	color: green;
} */

/* .content,
.text3 {
	color: green;
} */

/* Так же можем обращаться через запятую и к классам.
Влоенность использовать необязательно, но с записью вложенности приоритет больше */

/* .block > span {
	color: red;
} */

/* .block > * {
	color: red;
} */

/* Обратились ко всем тегам Span только первого уровня */
/* Можем обратиться ко всем объектам первого уровня в данном классе */

/* .first + * {
	color: red;
} */

/* .first + div {
	color: red;
} */
/* Можем обратиться к следющему тегу первого уровня */
/* Либо можно к следующему указанному тегу обратиться */

/* .first ~ * {
	color: green;
} */

.first ~ div {
	color: green;
}

/* Обращаемся ко всем последующим тегам того же уровня */
/* Можно конкретный тег выбрать */

